:root {
    --color-white-dark: #ffff;
    --color-white: #ffff;
    --color-dark-a: #111016;
    --color-dark-b: #1a1a1f;
    --color-blue: #0073ec;
    --color-gray: #9e9e9e;
}

html.dark {
    --color-white-dark: #111016;
    --color-dark-a: #c0c0c0;
    --color-dark-b: #f1f2f6;
    --color-blue: #0073ec;
    --color-white:#ffff;
    --color-gray: #000;
}

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: sans-serif;
    text-decoration: none;
}

.header, .navegation-header {
    display: flex;
    flex-direction: row; /* ficar um ao lado do outro*/
    align-items: center; /*coloca o itens no centro no meio*/
    color: var(--color-white);
}

.header {
    background-color: var(--color-dark-a);
    height: 8.7vw;
    justify-content: space-between;/*coloca espaço entre os elemantos ex: (el1 ----- el2)*/
    padding: 0 10%;
    color: var(--color-white-dark);
    text-decoration: none;
  
}

.navegation-header {
    gap: 2em; /*espaço entre os elementos*/
    font-family: sans-serif;      
}

.active {
    color: var(--color-white-dark);
    text-decoration: none;
}

.btn-icon-header {
    border: none;
    background: red;
    color: var(--color-white-dark);
    width: 2em;
    height: auto;
    cursor: pointer;
}

.btn-icon-header-tools {
    border: none;
    background: transparent;
    color: var(--color-white-dark);
    cursor: pointer;
    display: none;
}

.btn-icon-header-brilho {
    border: none;
    background: transparent;
    color: var(--color-white-dark);
    cursor: pointer;
    display: block;
}

@media screen and (max-width: 768px){
    .btn-icon-header-tools {
        display: block;
    }
    .navegation-header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark-b);
        width: 30vw;
        height: 100%;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        transition: 1s;
    }

    @keyframes showSideBar {
        from{margin-left: -100vw;}
        top{margin-left:  -10vw;}
    }

}

.content {
    padding-top: 1em;
    height: 95vh;
    transition: 0s;
    display: flex;
    flex-direction: row;
    background: var(--color-dark-b);
    color: var(--color-white-dark); 
    justify-content: space-around;

}

.home-page {
    text-align: left;
    padding-top: 8em;
    align-items: center;

}

.home-page p {
    color: var(--color-gray);
    font-family: sans-serif;
    font-size: 1.2em;   
}

.btn-contatos {
    background-color: transparent;
    border: none;
    color: var(--color-white-dark);
    padding: 0.5em;
}

.btn-contatos svg {
   font-size:2px;
   width: auto;
   height: 10em;
   margin: 2em;
}

.information button {
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white-dark);
    width: 10vw;
    height: 4vw;
    margin: 0.5em;
    border-radius: 2px;
}

.information p {
    font-size: 3vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 2em;
}

.information {
    width: 35vw;
    height: 5.5vw;
    background-color: var(--color-dark-a);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.home-page h1 {
    font-size: 3.4em;
    font-family: monospace;
}

img {
    width: 300px;
    height: auto;
    padding-top: 3em;
}

@media screen and (max-width: 768px){
    .header {
        height: 23vw;
    }
    .content {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 5em;
        align-items: center;
    }
    .home-page {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: start;
        padding-top: 1px;
        font-size: 10px;
    }
    .information p {
        font-size: 5vw;
        margin: 1em;
        display: flex;
        flex-direction: row;
    }
    .information {
        width: 90%;
        height: 30vw;
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark-a);
        margin-top: 20px;
    }
    .information button {
        border: none;
        background-color: var(--color-blue);
        color: var(--color-white-dark);
        width: 95%;
        height: 50%;
        margin: 1vw;
        font-size: 2em;
        
    }
    .img img {
        width: 20em;
        height: 100%;
    }

}


